name: Java Bstack CI

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - name: Build with App gradle
        run: ./gradlew clean assemble
      - name: Build test App gradle
        run: ./gradlew clean assembleAndroidTest
