name: Java Bstack CI

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: '14'
          distribution: 'adopt'
      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Build App gradle
        run: ./gradlew assemble
      - name: Build Test App gradle
        run: ./gradlew assembleAndroidTest
      - name: Cleanup Gradle Cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties
      - name: 'BrowserStack Env Setup'
        uses: 'nurdtechie98/github-actions/setup-env@master'
        with:
          username:  ${{ secrets.BROWSERSTACK_USERNAME }}
          access-key: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          build-name: "test_build"
          project-name: "test_project"
      - name: 'BrowserStack App Upload'
        uses: 'nurdtechie98/github-actions/upload-app@master'
        with:
          app-url: http://testci.browserstack.com:8081/download/locale_ios.ipa
#           framework: espresso
#           test-suite-path: ./app/build/outputs/apk/androidTest/production/debug/app-production-debug-androidTest.apk
#       - name: 'Run tests on browserstack'
#         uses: 'nurdtechie98/github-actions/run-tests@master'
#         with:
#           config-path: ./.github/test_config.json
