name: Java Bstack CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 10
        uses: actions/setup-java@v2
        with:
          java-version: '10'
          distribution: 'adopt'
      - name: Build with App gradle
        run: ./gradlew assemble
      - name: Build test App gradle
        run: ./gradlew assembleAndroidTest
